{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <h2>List of words</h2>

    <ul>
        {% for word in words  %}
            <li>{{ word }}</li>
        {% endfor %}
    </ul>

{% endblock %}